@import "../common/common";
@import "../common/_layout";

/* 상담일지 */
.wrapper {
    &.notes {
        main {
            .form-section {
                @include flexbox(row, space-between, flex-start);
                gap: 2.4rem;
                .step-nav {
                    position: sticky;
                    top: 11rem;
                    width: 25.2rem;
                    border-radius: 1.6rem;
                    border: 1px solid #F3F3F3;
                    background: $white;
                    box-shadow: 0px 1px 6px 0px rgba(195, 195, 195, 0.20);
                    .inner {
                        width: 100%;
                        padding: 1.8rem 1.6rem;
                        > strong {
                            font-weight: 700;
                            color: #1E2125;
                        }
                        > ul {
                            width: 100%;
                            padding-top: 1.6rem;
                            @include flexbox(column, center, flex-start);
                            gap: 1.4rem;
                            li {
                                &.on {
                                    > a {
                                        &::before {
                                            background-color: $secondary500;
                                        }
                                    }
                                }
                            }
                            > li {
                                width: 100%;
                                > a {
                                    position: relative;
                                    display: inline-block;
                                    width: 100%;
                                    height: 4rem;
                                    padding: 0 .8rem;
                                    font-weight: 500;
                                    color: $gray400;
                                    border-radius: 1rem;
                                    @include flexbox(row, flex-start, center);
                                    gap: .75rem;
                                    transition: background .25s;
                                    &:hover {
                                        background: $gray50;
                                    }
                                    &::before {
                                        content: "";
                                        display: inline-block;
                                        width: 1.5rem;
                                        height: 1.5rem;
                                        border-radius: 50%;
                                        background: url(@/assets/images/icon/check.svg) no-repeat center/12px $gray200;
                                    }
                                }
                                ul {
                                    position: relative;
                                    @include flexbox(column, center, flex-start);
                                    gap: 0;
                                    padding-left: 2.55rem;
                                    &::before {
                                        content: "";
                                        position: absolute;
                                        top: 0;
                                        left: 1.5rem;
                                        width: 1px;
                                        height: 100%;
                                        background: $gray200;
                                    }
                                    li {
                                        a {
                                            height: 3.6rem;
                                            font-weight: 500;
                                            color: $gray400;
                                            @include flexbox(row, flex-start, center);
                                            gap: .75rem;
                                            cursor: default;
                                            &::before {
                                                content: "";
                                                display: inline-block;
                                                width: 1.5rem;
                                                height: 1.5rem;
                                                border-radius: 50%;
                                                background: url(@/assets/images/icon/check.svg) no-repeat center/12px $gray200;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .form-content {
                    width: calc(100% - 27.6rem);
                    @include flexbox(column, flex-start, flex-start);
                    gap: 8rem;
                    > div {
                        position: relative;
                        width: 100%;
                        scroll-margin-top: 11rem;
                        .step-title {
                            width: 100%;
                            margin-bottom: 1.2rem;
                            @include flexbox(row, space-between, center);
                            strong {
                                position: relative;
                                font-size: 2.4rem;
                                font-weight: 700;
                                &.necessary {
                                    &::after {
                                        content: "*";
                                        position: absolute;
                                        color: #FF3D00;
                                    }
                                }
                            }
                            &.type01 {
                                justify-content: flex-start;
                                .info {
                                    position: relative;
                                    .info-icon {
                                        width: 3rem;
                                        height: 3rem;
                                        background: url(@/assets/images/icon/info.svg) no-repeat center;
                                    }
                                    .tooltip {
                                        position: absolute;
                                        top: 50%;
                                        left: 4.2rem;
                                        transform: translateY(-50%);
                                        padding: 1.2rem 1.6rem;
                                        color: $white;
                                        font-size: 1.4rem;
                                        font-weight: 500;
                                        border-radius: 1.4rem;
                                        white-space: nowrap;
                                        background: $gray600;
                                        display: none;
                                        z-index: 10;
                                        &::before {
                                            content: '';
                                            position: absolute;
                                            top: 50%;
                                            left: -14px;
                                            transform: translateY(-50%);
                                            width: 0;
                                            height: 0;
                                            border-top: 10px solid transparent;
                                            border-bottom: 10px solid transparent;
                                            border-right: 14px solid $gray600;
                                        }
                                    }
                                }
                            }
                            &.sub {
                                strong {
                                    font-size: 1.8rem;
                                    font-weight: 500;
                                }
                            }
                        }
                        .step-conts {
                            .write-wrap {
                                width: 100%;
                                border-radius: 1.4rem;
                                background: $gray0;
                                .write-title {
                                    @include flexbox(row, space-between, center);
                                    p {
                                        font-weight: 700;
                                    }
                                    .panel-btn {
                                        font-size: 1.4rem;
                                        font-weight: 500;
                                        color: $gray400;
                                        @include flexbox(row, center, center);
                                        gap: .2rem;
                                        &::after {
                                            content: "";
                                            display: inline-block;
                                            width: 1.2rem;
                                            height: 1.2rem;
                                            background: url(@/assets/images/icon/arrow_right.svg) no-repeat center/contain;
                                        }
                                    }
                                }
                            }
                        }
                        &.content01 {
                            .step-conts {
                                .write-wrap {
                                    padding: 2.4rem 1.6rem 2rem;
                                    &:not(:last-of-type) {
                                        margin-bottom: 1.2rem;
                                        .write-area {
                                            ul {
                                                gap: .6rem 0;
                                                li {
                                                    height: 3.5rem;
                                                    @include flexbox(row, flex-start, center);
                                                }
                                            }
                                        }
                                    }
                                    .write-title {
                                        margin-bottom: 1.8rem;
                                    }
                                    .write-area {
                                        ul {
                                            width: 100%;
                                            @include flexbox(row, flex-start, flex-start);
                                            flex-wrap: wrap;
                                            li {
                                                width: 25%;
                                            }
                                        }
                                    }
                                    &.check {
                                        .write-area {
                                            ul {
                                                li {
                                                    &:last-of-type {
                                                        width: 100%;
                                                        @include flexbox(row, flex-start, center);
                                                        gap: 1rem;
                                                        .input-wrap {
                                                            &:first-of-type {
                                                                width: 5.9rem;
                                                            }
                                                            &:last-of-type {
                                                                width: calc(100% - 6.9rem);
                                                                input {
                                                                    width: 100%;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    &.risk-scale {
                                        .write-title {
                                            margin-bottom: .4rem;
                                            & + p {
                                                margin-bottom: 1.8rem;
                                                font-size: 1.4rem;
                                                font-weight: 500;
                                                color: $gray400;
                                            }
                                        }
                                        .write-area {
                                            ul {
                                                gap: 1rem;
                                                li {
                                                    position: relative;
                                                    width: calc(25% - .75rem);
                                                    height: 16.6rem;
                                                    border-radius: .8rem;
                                                    border: 1px solid $gray100;
                                                    overflow: hidden;
                                                    transition: all .25s;
                                                    &:has(input[type="radio"]:checked) {
                                                        border: 1px solid $secondary500;
                                                        .bottom {
                                                            border-top: 1px solid $secondary500;
                                                            background: rgba(50, 208, 103, 0.10);
                                                        }
                                                    }
                                                    .top {
                                                        height: 11.8rem;
                                                        @include flexbox(column, center, center);
                                                        gap: 1rem;
                                                    }
                                                    .input-wrap {
                                                        position: absolute;
                                                        top: 1.2rem;
                                                        left: 1.2rem;
                                                        label {
                                                            padding-left: 2rem;
                                                        }
                                                    }
                                                    .face-icon {
                                                        display: inline-block;
                                                        width: 5.4rem;
                                                        height: 5.4rem;
                                                        border-radius: 50%;
                                                        &.safe {
                                                            background: url(@/assets/images/common/safe_face.svg) no-repeat center/contain;
                                                        }
                                                        &.caution {
                                                            background: url(@/assets/images/common/caution_face.svg) no-repeat center/contain;
                                                        }
                                                        &.danger {
                                                            background: url(@/assets/images/common/danger_face.svg) no-repeat center/contain;
                                                        }
                                                        &.critical {
                                                            background: url(@/assets/images/common/critical_face.svg) no-repeat center/contain;
                                                        }
                                                    }
                                                    .bottom {
                                                        height: calc(100% - 11.8rem);
                                                        border-top: 1px solid $gray100;
                                                        @include flexbox(row, center, center);
                                                        transition: all .25s;
                                                        span {
                                                            font-weight: 500;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &.content02 {
                            .step-conts {
                                .write-wrap {
                                    padding: 2.4rem 1.6rem;
                                    .write-title {
                                        margin-bottom: 2.2rem;
                                    }
                                }
                                .tb-wrap {
                                    padding: 0 1.2rem;
                                    margin-bottom: 3.1rem;
                                    table {
                                        width: 100%;
                                        table-layout: fixed;
                                        thead {
                                            background: $gray50;
                                            tr {
                                                th {
                                                    padding: 1.2rem;
                                                    &:first-of-type {
                                                        width: 14.6rem;
                                                        padding: 1.2rem 0 1.2rem 2rem;
                                                        border-radius: .6rem 0 0 .6rem;
                                                        text-align: left;
                                                        font-weight: 500;
                                                        color: $gray400;
                                                    }
                                                    &:not(:first-of-type) {
                                                        width: calc((100% - 14.6rem) / 6);
                                                        text-align: center;
                                                        font-weight: 700;
                                                        color: $gray500;
                                                    }
                                                    &:last-of-type {
                                                        padding: 1.2rem 2rem 1.2rem 0;
                                                        border-radius: 0 .6rem .6rem 0;
                                                    }
                                                }
                                            }
                                        }
                                        tbody {
                                            tr {
                                                border-bottom: 1px solid $gray50;
                                                th {
                                                    box-sizing: content-box;
                                                    padding: .9rem 0;
                                                    height: 4.2rem;
                                                    padding-left: 2rem;
                                                    text-align: left;
                                                    font-weight: 700;
                                                    color: $gray800;
                                                    &.new-th {
                                                        padding-left: .7rem;
                                                        .symptom-input-wrap {
                                                            position: relative;
                                                            width: 100%;
                                                            .symptom-input {
                                                                width: 100%;
                                                                height: 3.8rem;
                                                                padding: 0 1.2rem;
                                                                font-family: $pretendard;
                                                                font-size: 1.6rem;
                                                                border-radius: .8rem;
                                                                border: 1px solid $gray400;
                                                                &::placeholder {
                                                                    color: $gray400;
                                                                }
                                                                &.error {
                                                                    border-color: #FF0606;
                                                                }
                                                            }
                                                            .error-txt {
                                                                font-family: $pretendard;
                                                                font-size: 1.4rem;
                                                                font-weight: 500;
                                                                color: #FF0606;
                                                                display: none;
                                                                margin-top: .6rem;
                                                                margin-left: .4rem;
                                                            }
                                                        }
                                                        .input-completed {
                                                            @include flexbox(row, flex-start, center);
                                                            gap: 1rem;
                                                            .remove-symptom {
                                                                width: 3rem;
                                                                height: 3rem;
                                                                border-radius: 6px;
                                                                border: 1px solid $gray100;
                                                                background: url(@/assets/images/icon/minus.svg) no-repeat center/2.4rem $gray0;
                                                                cursor: pointer;
                                                            }
                                                            span {
                                                                font-size: 1.6rem;
                                                                font-weight: 700;
                                                                color: $gray800;
                                                            }
                                                        }
                                                    }
                                                }
                                                td {
                                                    .input-wrap {
                                                        @include flexbox(row, center, center);
                                                        label {
                                                            padding-left: 2rem;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .signs-add-btn {
                                    width: 100%;
                                    height: 5.2rem;
                                    border-radius: .6rem;
                                    background: rgba(239, 242, 243, 0.50);
                                    span {
                                        padding-left: 2.8rem;
                                        position: relative;
                                        font-weight: 700;
                                        color: $gray400;
                                        background: url(@/assets/images/icon/plus.svg) no-repeat center left/24px;
                                    }
                                }
                            }
                        }
                        &.content04 {
                            .step-conts {
                                .write-wrap {
                                    &:nth-of-type(2) {
                                        margin-bottom: 2.4rem;
                                    }
                                }
                            }
                        }
                        &.content09 {
                            .tips {
                                width: 100%;
                                padding: 0 1.2rem;
                                margin-bottom: 2.8rem;
                                height: 4rem;
                                border-radius: .8rem;
                                background: rgba(217, 226, 230, 0.30);
                                @include flexbox(row, flex-start, center);
                                p {
                                    font-size: 1.4rem;
                                    font-weight: 500;
                                    color: $gray600;
                                }
                            }
                        }
                        &:not(.content01 , .content02) {
                            .step-conts {
                                .write-wrap {
                                    padding: 1.6rem 1.6rem .8rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.session-info-bar {
    width: 100%;
    margin-bottom: 3rem;
    @include flexbox(row, space-between, center);
    border-bottom: 1px solid $gray100;
    .info {
        @include flexbox(row, flex-start, center);
        gap: 2.8rem;
        strong {
            position: relative;
            font-size: 2.2rem;
            font-weight: 700;
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                right: -1.4rem;
                transform: translateY(-50%);
                width: 1px;
                height: 1.4rem;
                background: #91A4AE;
            }
        }
        p {
            span {
                font-weight: 500;
                color: $gray400;
            }
        }
    }
    .panel-btn {
        position: relative;
        display: inline-block;
        height: 4.2rem;
        font-weight: 500;
        color: $gray400;
        @include flexbox(row, center, center);
        gap: .4rem;
        &::after {
            content: "";
            display: inline-block;
            width: 2.4rem;
            height: 2.4rem;
            background: url(@/assets/images/icon/panel_open.svg) no-repeat center;
        }
    }
}