@charset "UTF-8";
/* 노트북 */
/* 테블릿 */
/* 모바일 */
/* 폰트 */
/* 컬러 */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Pretendard";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #1C1D1E;
}
body ::-webkit-scrollbar {
  width: 6px;
}
body ::-webkit-scrollbar-track {
  background: transparent;
}
body ::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #CBD5DA;
}

/* 요소 숨기기 */
.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
}

.d-pc {
  display: block;
}

.d-mb {
  display: none;
}

@media (max-width: 768px) {
  .d-pc {
    display: none;
  }
  .d-mb {
    display: block;
  }
}
/* 버튼 */
button {
  font-family: "Pretendard";
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 0.8rem;
}
button.h36 {
  height: 3.6rem;
}
button.h40 {
  height: 4rem;
}
button.h44 {
  height: 4.4rem;
}
button.h48 {
  height: 4.8rem;
}
button.type01 {
  padding: 0 0.8rem;
  border: 1px solid #DCE4E7;
  background: url(/assets/images/icon/ixi.svg) no-repeat center left 8px/20px #FFFFFF;
  transition: border 0.25s;
}
button.type01 span {
  font-size: 1.4rem;
  font-weight: 700;
  margin-left: 2.4rem;
  background: linear-gradient(180deg, #8B24FF 0%, #FE58FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
button.type01:hover {
  border: 1px solid #B739FF;
}
button.type02 {
  width: 3.6rem;
  height: 3.6rem;
  border: 1px solid #CBD5DA;
  background: url(/assets/images/icon/file_upload.svg) no-repeat center #FFFFFF;
}
button.type03 {
  padding: 0 4rem 0 1.4rem;
  color: #434547;
  border: 1px solid #CBD5DA;
  background: url(/assets/images/icon/file_upload.svg) no-repeat center right 1.2rem/24px #FFFFFF;
  transition: border 0.25s;
}
button.type03:hover {
  border: 1px solid #7A8A93;
}
button.type04 {
  width: 15.3rem;
  height: 5.2rem;
  color: #434547;
  border: 1px solid #CBD5DA;
  background: #FFFFFF;
  transition: border 0.25s;
}
button.type04:hover {
  border: 1px solid #7A8A93;
}
button.type05 {
  height: 4rem;
  padding: 0 1.4rem;
  color: #FFFFFF;
  background: #1C1D1E;
  transition: background 0.25s;
}
button.type05:hover {
  background: #4C5052;
}
button.type06 {
  width: 16.7rem;
  height: 4.4rem;
  color: #1C1D1E;
  background: #EFF2F3;
  transition: background 0.25s;
}
button.type06:hover {
  background: rgba(239, 242, 243, 0.5);
}
button.type06.black {
  color: #FFFFFF;
  background: #1C1D1E;
  transition: background 0.25s;
}
button.type06.black:hover {
  background: #4C5052;
}
button.type07 {
  width: 10.4rem;
  height: 4.8rem;
  color: #1C1D1E;
  background: #EFF2F3;
  transition: background 0.25s;
}
button.type07:hover {
  background: rgba(239, 242, 243, 0.5);
}
button.type07.black {
  color: #FFFFFF;
  background: #1C1D1E;
}
button.type07.black:hover {
  background: #4C5052;
}
button.type08 {
  width: 36.2rem;
  height: 5.2rem;
  color: #1C1D1E;
  border-radius: 1rem;
  background: #EFF2F3;
  transition: background 0.25s;
}
button.type08:hover {
  background: rgba(239, 242, 243, 0.5);
}
button.type08.black {
  color: #FFFFFF;
  background: #1C1D1E;
}
button.type08.black:hover {
  background: #4C5052;
}
button.type09 {
  width: 15.3rem;
  height: 5.2rem;
  color: #FFFFFF;
  background: #32D074;
  transition: background 0.25s;
}
button.type09:hover {
  background: #8CE9B3;
}

/* 텍스트, 패스워드, 라디오, 체크박스 */
.input-wrap {
  position: relative;
}
.input-wrap input[type=text], .input-wrap input[type=password] {
  font-size: 1.6rem;
  font-weight: 500;
  color: #1C1D1E;
  padding: 0 1.2rem;
  height: 3.8rem;
  border-radius: 0.8rem;
  border: 1px solid #DCE4E7;
  background: #FFFFFF;
}
.input-wrap input[type=text]::placeholder, .input-wrap input[type=password]::placeholder {
  color: #7A8A93;
}
.input-wrap input[type=text]:focus, .input-wrap input[type=password]:focus {
  border: 1px solid #7A8A93;
}
.input-wrap.dim input[type=text], .input-wrap.dim input[type=password] {
  border: 1px solid #DCE4E7;
  background: rgba(243, 243, 243, 0.3);
}
.input-wrap.dim input[type=text]:focus, .input-wrap.dim input[type=password]:focus {
  border: 1px solid #DCE4E7;
  background: #FFFFFF;
}
.input-wrap.dim input[type=text].has-value, .input-wrap.dim input[type=password].has-value {
  border: 1px solid #DCE4E7;
  background: #FFFFFF;
}
.input-wrap.search input[type=text], .input-wrap.search input[type=password] {
  padding: 0 3.8rem 0 1.4rem;
}
.input-wrap.search .search-btn {
  top: 50%;
  right: 1.4rem;
  transform: translateY(-50%);
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  border: none;
  background: url(@/assets/images/icon/search.svg) no-repeat center/contain;
}
.input-wrap.search.word-move input[type=text], .input-wrap.search.word-move input[type=password] {
  padding: 0 14.1rem 0 1.4rem;
}
.input-wrap.search.word-move .move-helper {
  position: absolute;
  top: 50%;
  right: 4.8rem;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
.input-wrap.search.word-move .move-helper p {
  font-size: 1.4rem;
  font-weight: 500;
  color: #7A8A93;
}
.input-wrap.search.word-move .move-helper .btn-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.input-wrap.search.word-move .move-helper .btn-wrap button {
  width: 2.4rem;
  height: 2.4rem;
  border: 1px solid #CBD5DA;
}
.input-wrap.search.word-move .move-helper .btn-wrap button.up-btn {
  border-radius: 0.4rem 0 0 0.4rem;
  background: url(@/assets/images/icon/arrow_down.svg) no-repeat center/2rem #FFFFFF;
}
.input-wrap.search.word-move .move-helper .btn-wrap button.down-btn {
  border-radius: 0 0.4rem 0.4rem 0;
  background: url(@/assets/images/icon/arrow_down.svg) no-repeat center/2rem #FFFFFF;
  border-left: 0;
}
.input-wrap.radio input[type=radio], .input-wrap.radio input[type=checkbox], .input-wrap.checkbox input[type=radio], .input-wrap.checkbox input[type=checkbox] {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.input-wrap.radio input[type=radio] + label, .input-wrap.radio input[type=checkbox] + label, .input-wrap.checkbox input[type=radio] + label, .input-wrap.checkbox input[type=checkbox] + label {
  position: relative;
  padding-left: 3.2rem;
  font-size: 1.6rem;
  white-space: nowrap;
  cursor: pointer;
}
.input-wrap.radio input[type=radio] + label::before, .input-wrap.radio input[type=radio] + label::after, .input-wrap.radio input[type=checkbox] + label::before, .input-wrap.radio input[type=checkbox] + label::after, .input-wrap.checkbox input[type=radio] + label::before, .input-wrap.checkbox input[type=radio] + label::after, .input-wrap.checkbox input[type=checkbox] + label::before, .input-wrap.checkbox input[type=checkbox] + label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;
}
.input-wrap.radio input[type=radio] + label::before, .input-wrap.radio input[type=checkbox] + label::before, .input-wrap.checkbox input[type=radio] + label::before, .input-wrap.checkbox input[type=checkbox] + label::before {
  width: 2rem;
  height: 2rem;
  transform: translateY(-50%);
  background: #FFFFFF;
  border: 2px solid #CBD5DA;
}
.input-wrap.radio input[type=radio]:focus-visible + label::before, .input-wrap.radio input[type=checkbox]:focus-visible + label::before, .input-wrap.checkbox input[type=radio]:focus-visible + label::before, .input-wrap.checkbox input[type=checkbox]:focus-visible + label::before {
  outline: 2px solid #000;
  outline-offset: 2px;
}
.input-wrap.radio input[type=radio] + label::before, .input-wrap.radio input[type=radio] + label::after {
  border-radius: 50%;
}
.input-wrap.radio input[type=radio] + label::before {
  left: 0;
}
.input-wrap.radio input[type=radio] + label::after {
  width: 1rem;
  height: 1rem;
  left: 0.5rem;
  transform: translateY(-50%) scale(0);
  background: #32D074;
}
.input-wrap.radio input[type=radio]:checked + label::before {
  border-color: #32D074;
}
.input-wrap.radio input[type=radio]:checked + label::after {
  transform: translateY(-50%) scale(1);
}
.input-wrap.radio input[type=radio]:disabled + label::before {
  border-color: #CBD5DA;
  background: #EFF2F3;
}
.input-wrap.radio input[type=radio]:disabled + label::after {
  background: #CBD5DA;
}
.input-wrap.checkbox input[type=checkbox] + label::before {
  border-radius: 3px;
}
.input-wrap.checkbox input[type=checkbox] + label::after {
  width: 2rem;
  height: 2rem;
  border-radius: 3px;
  opacity: 0;
  background: url(@/assets/images/icon/check.svg) no-repeat center/1.7rem #32D074;
}
.input-wrap.checkbox input[type=checkbox]:checked + label::before {
  border-color: #32D074;
}
.input-wrap.checkbox input[type=checkbox]:checked + label::after {
  opacity: 1;
}
.input-wrap.checkbox input[type=checkbox]:disabled + label::before {
  border-color: #CBD5DA;
  background: #EFF2F3;
}
.input-wrap.checkbox input[type=checkbox]:disabled + label::after {
  border: 2px solid #CBD5DA;
  background-color: #CBD5DA;
}

/* 토글(스위치) 버튼 */
.switch-wrap label {
  display: inline-flex;
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;
}
.switch-wrap label input[type=checkbox] {
  appearance: none;
  position: relative;
  background: #CBD5DA;
  border-radius: 1rem;
  width: 3rem;
  height: 1.8rem;
}
.switch-wrap label input[type=checkbox]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background-color: #FFFFFF;
  transition: all 0.25s linear;
  z-index: 1;
  cursor: pointer;
}
.switch-wrap label input[type=checkbox]:checked {
  background-color: #434547;
}
.switch-wrap label input[type=checkbox]:checked::before {
  left: calc(100% - 1.6rem);
}
.switch-wrap label span {
  font-weight: 700;
  color: #434547;
}

/* 위기 단계 태그 */
span.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  font-weight: 700;
}
span.tag.safe {
  color: #447DED;
  background: #DDE9FC;
}
span.tag.caution {
  color: #E8B60A;
  background: #FDF9C4;
}
span.tag.danger {
  color: #FE7311;
  background: #FFEDD4;
}
span.tag.critical {
  color: #FF0606;
  background: #FFE5E5;
}

/* 커스텀 셀렉트 */
.select-wrap .select-box {
  position: relative;
  width: 17.7rem;
  z-index: 10;
  cursor: pointer;
}
.select-wrap .select-box .select-item {
  position: relative;
  width: 100%;
  height: 5.2rem;
  padding: 0 1.4rem;
  font-weight: 500;
  color: #7A8A93;
  border-radius: 8px;
  border: 1px solid #DCE4E7;
  background: #FFFFFF;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2.8rem;
  z-index: 1;
  transition: border 0.25s, border-bottom 0s ease 0.25s, border-radius 0s ease 0.25s;
}
.select-wrap .select-box .select-item::after {
  position: absolute;
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  right: 1.4rem;
  top: 50%;
  transform: translateY(-50%);
  background: url(@/assets/images/icon/arrow_down.svg) no-repeat center;
  transition: all 0.25s;
}
.select-wrap .select-box .select-item.on {
  border: 1px solid #434547;
  border-bottom: none;
  border-radius: 8px 8px 0 0;
  transition: border 0.25s;
}
.select-wrap .select-box .select-item.on + .option-list {
  border: 1px solid #434547;
  border-top: none;
}
.select-wrap .select-box .select-item.on::after {
  transform: translateY(-50%) rotate(180deg);
}
.select-wrap .select-box .option-list {
  width: 100%;
  position: absolute;
  top: 5.2rem;
  border-radius: 0 0 8px 8px;
  background: #FFFFFF;
  width: 100%;
  max-height: 26rem;
  border-top: none;
  overflow-y: auto;
  display: none;
}
.select-wrap .select-box .option-list > li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 5.2rem;
  padding: 0 1.4rem;
  transition: all 0.25s;
}
.select-wrap .select-box .option-list > li a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2.8rem;
}
.select-wrap .select-box .option-list > li a span {
  position: relative;
}
.select-wrap .select-box .option-list > li a span:first-of-type {
  font-size: 1.8rem;
  font-weight: 500;
  color: #434547;
}
.select-wrap .select-box .option-list > li a span:first-of-type::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -1.4rem;
  width: 1px;
  height: 1.4rem;
  background: #DCE4E7;
}
.select-wrap .select-box .option-list > li a span:last-of-type {
  font-weight: 500;
  color: #7A8A93;
}
.select-wrap .select-box .option-list > li:hover {
  background: #EFF2F3;
  transition: all 0.25s;
}
.select-wrap .select-box .option-list > li.on a {
  font-weight: 700;
  color: #434547;
}
.select-wrap.type01 .select-box {
  width: 54.4rem;
}
.select-wrap.type01 .select-box .select-item {
  height: 4rem;
  border: 1px solid transparent;
}
.select-wrap.type01 .select-box .select-item span {
  position: relative;
}
.select-wrap.type01 .select-box .select-item span:first-of-type {
  font-size: 1.8rem;
  font-weight: 600;
  color: #434547;
}
.select-wrap.type01 .select-box .select-item span:first-of-type::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -1.4rem;
  width: 1px;
  height: 1.4rem;
  background: #DCE4E7;
}
.select-wrap.type01 .select-box .select-item span:last-of-type {
  font-size: 1.6rem;
  font-weight: 500;
  color: #7A8A93;
}
.select-wrap.type01 .select-box .select-item.on {
  border: 1px solid #434547;
  border-bottom: none;
}
.select-wrap.type01 .select-box .option-list {
  top: 4rem;
  max-height: 20rem;
}
.select-wrap.type01 .select-box .option-list li {
  height: 4rem;
}
.select-wrap.type01 .select-box .option-list li.on a span:first-of-type {
  font-weight: 700;
}
.select-wrap.type01 .select-box .option-list li.on a span:last-of-type {
  font-weight: 700;
  color: #434547;
}
.select-wrap:not(.type01) .select-box .select-item.selected-custom {
  color: #1C1D1E;
}

/* 커스텀 textarea */
.editor-wrap .editor {
  position: relative;
  height: 25.6rem;
  padding: 1.2rem 1.4rem;
  margin-bottom: 0.7rem;
  color: #434547;
  font-weight: 500;
  line-height: 1.8;
  white-space: pre-wrap;
  word-break: break-word;
  outline: none;
  border-radius: 0.8rem;
  border: 1px solid #EFF2F3;
  background: rgba(255, 255, 255, 0.7);
  overflow-y: auto;
}
.editor-wrap .editor:empty::before {
  content: attr(data-placeholder);
  color: #7A8A93;
  font-weight: 500;
  line-height: 1.8;
  pointer-events: none;
  display: block;
  white-space: pre-wrap;
}
.editor-wrap .editor .bullet-line {
  position: relative;
  padding-left: 1.2rem;
  font-weight: 500;
  color: #434547;
  line-height: 1.8;
}
.editor-wrap .editor .bullet-line::before {
  content: "•";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.6rem;
  font-weight: 500;
  color: #434547;
}
.editor-wrap .current-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.editor-wrap .current-info .warning {
  font-size: 1.4rem;
  font-weight: 500;
  color: #FF0606;
  opacity: 0;
}
.editor-wrap .current-info .count {
  text-align: right;
  font-size: 1.4rem;
  font-weight: 500;
  color: #7A8A93;
}
.editor-wrap.over .editor {
  border: 1px solid #FF0606;
}
.editor-wrap.over .current-info .warning {
  opacity: 1;
}
.editor-wrap.over .current-info .count .chk-byte {
  color: #FF0606;
}

/* 수정 버튼 */
.edit-btn {
  position: relative;
  font-size: 1.6rem;
  color: #7A8A93;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
.edit-btn::after {
  content: "";
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  background: url(@/assets/images/icon/arrow_right.svg) no-repeat center/contain;
}

/*토스트 메시지*/
.toast-pop {
  opacity: 0;
  position: fixed;
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 44rem;
  height: 6.7rem;
  padding: 0 1.6rem;
  color: #FFFFFF;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.4rem;
  background: rgba(28, 29, 30, 0.7);
  backdrop-filter: blur(7px);
  transition: all 0.5s;
  z-index: 999;
}

/*토스트 메시지 활성화 되었을 때*/
.toast-pop.active {
  opacity: 100%;
  bottom: 6rem;
}

/* 노트북 */
/* 테블릿 */
/* 모바일 */
/* 전체 레이아웃 */
.wrapper {
  position: relative;
  width: 100%;
  background: linear-gradient(0deg, #F4F8F8 0%, #F4F8F8 100%), #FFFFFF;
}
.wrapper::before {
  content: "";
  position: fixed;
  top: -25vw;
  left: -10vw;
  width: 122.6rem;
  height: 140rem;
  transform: rotate(-37.239deg);
  border-radius: 140rem;
  opacity: 0.5;
  background: rgba(167, 235, 189, 0.4);
  filter: blur(16.5rem);
  z-index: 0;
}
.wrapper::after {
  content: "";
  position: fixed;
  bottom: -29vw;
  right: 9vw;
  width: 56.6rem;
  height: 121.8rem;
  transform: rotate(76.916deg);
  border-radius: 121.8rem;
  background: rgba(192, 219, 249, 0.4);
  filter: blur(20.2rem);
  z-index: 0;
}
.wrapper.on {
  margin-left: 7.6rem;
  width: calc(100% - 7.6rem);
  transition: all 0.3s;
}
.wrapper header {
  background: linear-gradient(90deg, #E5F5EC 0%, #F2F7F6 53.45%, #F4F8F8 100%);
}
.wrapper.gray-bg {
  background: linear-gradient(0deg, #EEF4F4 0%, #EEF4F4 100%), #F4F8F8;
}
.wrapper.gray-bg::before, .wrapper.gray-bg::after {
  content: none;
}
.wrapper.gray-bg header {
  background: #EEF4F4;
}

/* header 레이아웃 */
header {
  position: fixed;
  top: 0;
  left: 18rem;
  width: calc(100% - 18rem);
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
  z-index: 20;
}
header.scroll {
  border-bottom: 1px solid #DCEBE3;
  backdrop-filter: blur(7px);
}
header.on {
  left: 7.6rem;
  width: calc(100% - 7.6rem);
  transition: all 0.3s;
}
header .inner {
  width: 100%;
  height: 8rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .inner .left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
header .inner .left .back-btn {
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  border: 1px solid #EFF2F3;
  background: url(@/assets/images/icon/back.svg) no-repeat center #FFFFFF;
  box-shadow: 0px 1px 6px 0px rgba(195, 195, 195, 0.2);
}
header .inner .left .page-title {
  font-size: 3rem;
  font-weight: 700;
  display: none;
}
header .inner .right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}
header .inner .right .switch-wrap {
  display: none;
}
header .inner .right .save-btn {
  display: none;
}
header .inner .right .btn-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
header .inner .right .btn-wrap button {
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  border: 1px solid #EFF2F3;
  box-shadow: 0px 1px 6px 0px rgba(195, 195, 195, 0.2);
}
header .inner .right .btn-wrap button.search-btn {
  background: url(@/assets/images/icon/search.svg) no-repeat center #FFFFFF;
}
header .inner .right .btn-wrap button.alarm-btn {
  background: url(@/assets/images/icon/alarm.svg) no-repeat center #FFFFFF;
}
header .inner .right .btn-wrap button.mypage-btn {
  background: url(@/assets/images/icon/mypage.svg) no-repeat center #FFFFFF;
}

/* lnb 레이아웃 */
.lnb {
  position: fixed;
  min-height: 100vh;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 20;
}
.lnb .inner {
  position: relative;
  width: 18rem;
  height: 100%;
  background: #fff;
  transition: width 0.3s;
}
.lnb .inner .top {
  width: 100%;
  padding: 2.3rem 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: all 0.25s;
}
.lnb .inner .top .logo a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.25s;
}
.lnb .inner .top .menu-btn {
  width: 2rem;
  height: 2rem;
  background: url(@/assets/images/icon/menu.svg) no-repeat center;
}
.lnb .inner .menu {
  width: 100%;
  padding: 1rem 1.4rem;
}
.lnb .inner .menu .list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
.lnb .inner .menu .list li {
  width: 100%;
  height: 4.8rem;
  padding: 1.2rem;
  border-radius: 1.2rem;
  transition: all 0.25s;
  cursor: pointer;
}
.lnb .inner .menu .list li.on, .lnb .inner .menu .list li:hover {
  background: rgba(8, 8, 8, 0.05);
  transition: all 0.25s;
}
.lnb .inner .menu .list li.on a, .lnb .inner .menu .list li:hover a {
  color: #1C1D1E;
  transition: all 0.25s;
}
.lnb .inner .menu .list li.on a::before, .lnb .inner .menu .list li:hover a::before {
  transition: all 0.25s;
}
.lnb .inner .menu .list li.on a.home::before, .lnb .inner .menu .list li:hover a.home::before {
  background: url(@/assets/images/icon/home_bk.svg) no-repeat center/contain;
}
.lnb .inner .menu .list li.on a.schedule::before, .lnb .inner .menu .list li:hover a.schedule::before {
  background: url(@/assets/images/icon/calendar_bk.svg) no-repeat center/contain;
}
.lnb .inner .menu .list li.on a.clients::before, .lnb .inner .menu .list li:hover a.clients::before {
  background: url(@/assets/images/icon/clients_bk.svg) no-repeat center/contain;
}
.lnb .inner .menu .list li.on a.document::before, .lnb .inner .menu .list li:hover a.document::before {
  background: url(@/assets/images/icon/document_bk.svg) no-repeat center/contain;
}
.lnb .inner .menu .list li.on a.mypage::before, .lnb .inner .menu .list li:hover a.mypage::before {
  background: url(@/assets/images/icon/mypage_bk.svg) no-repeat center/contain;
}
.lnb .inner .menu .list li.on a.support::before, .lnb .inner .menu .list li:hover a.support::before {
  background: url(@/assets/images/icon/info_bk.svg) no-repeat center/contain;
}
.lnb .inner .menu .list li a {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #6A8175;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.lnb .inner .menu .list li a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 2.4rem;
  height: 2.4rem;
}
.lnb .inner .menu .list li a span {
  white-space: nowrap;
  display: inline-block;
  margin-left: 3.4rem;
}
.lnb .inner .menu .list li a.home::before {
  background: url(@/assets/images/icon/home.svg) no-repeat center/contain;
}
.lnb .inner .menu .list li a.schedule::before {
  background: url(@/assets/images/icon/calendar.svg) no-repeat center/contain;
}
.lnb .inner .menu .list li a.clients::before {
  background: url(@/assets/images/icon/clients.svg) no-repeat center/contain;
}
.lnb .inner .menu .list li a.document::before {
  background: url(@/assets/images/icon/document.svg) no-repeat center/contain;
}
.lnb .inner .menu .list li a.mypage::before {
  background: url(@/assets/images/icon/mypage.svg) no-repeat center/contain;
}
.lnb .inner .menu .list li a.support::before {
  background: url(@/assets/images/icon/info.svg) no-repeat center/contain;
}
.lnb .inner.fold {
  width: 7.6rem;
  transition: all 0.3s;
}
.lnb .inner.fold .top {
  padding: 2.3rem 1rem;
}
.lnb .inner.fold .menu .list li a span {
  display: none;
}

/* 우측 서포트 패널 */
.support-panel {
  position: fixed;
  top: 8rem;
  right: 0;
  width: 36rem;
  height: calc(100vh - 10rem);
  border-radius: 1.6rem 0 0 1.6rem;
  border: 1px solid #EFF2F3;
  background: #fff;
  box-shadow: 0px 1px 6px 0px rgba(195, 195, 195, 0.2);
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  pointer-events: none;
  z-index: 20;
}
.support-panel.on {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

/* 모달(팝업) */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}
.modal.on {
  display: flex;
}
.modal .inner {
  position: relative;
  width: 80rem;
  padding: 3.6rem;
  border-radius: 1.6rem;
  background: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  /* 녹음 파일 업로드 */
}
.modal .inner .modal-hd {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.modal .inner .modal-hd strong {
  font-size: 3rem;
  font-weight: 700;
}
.modal .inner .modal-hd .close-btn {
  width: 3.2rem;
  height: 3.2rem;
  border: none;
  background: url(@/assets/images/icon/close.svg) no-repeat center/contain;
}
.modal .inner .dropzone {
  width: 100%;
  height: 33.6rem;
  border: 1px dashed #CBD5DA;
  border-radius: 0.8rem;
  transition: all 0.25s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}
.modal .inner .dropzone.dragover {
  border-color: #32D074;
  background: #F1FCF5;
}
.modal .inner .dropzone .file-input {
  display: none;
}
.modal .inner .dropzone .fake-upload-btn {
  display: inline-block;
  width: 13.9rem;
  height: 4.8rem;
  padding: 0 1.2rem 0 1.4rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: #434547;
  border-radius: 0.8rem;
  border: 1px solid #CBD5DA;
  background: url(@/assets/images/icon/file_upload.svg) no-repeat center right 1.2rem/2.4rem #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  transition: border 0.25s;
}
.modal .inner .dropzone .fake-upload-btn:hover {
  border: 1px solid #7A8A93;
}
.modal .inner .dropzone p {
  font-size: 2.2rem;
  font-weight: 700;
  color: #434547;
}

/* 우측 하단 플로팅 버튼 */
.floating-btn {
  position: fixed;
  right: 6rem;
  bottom: 6rem;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background: url(@/assets/images/common/ixi_btn.svg) no-repeat center/contain;
  box-shadow: 0px 4px 12px 0px rgba(185, 122, 255, 0.6);
  z-index: 10;
  cursor: pointer;
}

/* footer 레이아웃 */
footer {
  width: calc(100% - 18rem);
  margin-left: 18rem;
  padding-top: 10rem;
  padding-bottom: 4rem;
  transition: all 0.3s;
}
footer.on {
  width: calc(100% - 7.6rem);
  margin-left: 7.6rem;
  transition: all 0.3s;
}
footer .inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .inner .copyright {
  font-weight: 500;
  color: #7A8A93;
}

/* 콘텐츠 영역 레이아웃 */
main {
  position: relative;
  width: calc(100% - 18rem);
  min-height: calc(100vh - 8rem);
  margin-top: 8rem;
  margin-left: 18rem;
  transition: all 0.3s;
}
main > .inner {
  position: relative;
  width: calc(100% - 4rem);
  max-width: 1110px;
  margin: 0 auto;
  z-index: 1;
}

/* 콘텐츠 -> header 이동 영역 */
.move-up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.6rem;
}
.move-up .page-title {
  font-size: 3.6rem;
  font-weight: 700;
}

/* 내담자 프로필 */
.client-profile {
  width: 100%;
  padding: 3rem 2.6rem;
  border-radius: 1.6rem;
  border: 1px solid #EFF2F3;
  background: #FFFFFF;
  box-shadow: 0px 1px 6px 0px rgba(195, 195, 195, 0.2);
  margin-bottom: 7rem;
}
.client-profile .name-wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.client-profile .name-wrap .left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.client-profile .name-wrap .left strong {
  font-size: 2.2rem;
  font-weight: 700;
}
.client-profile .name-wrap .toggle-btn {
  width: 2rem;
  height: 2rem;
  background: url(@/assets/images/icon/arrow_down.svg) no-repeat center;
  transition: all 0.25s;
}
.client-profile .name-wrap .toggle-btn.on {
  transform: rotate(180deg);
  transition: all 0.25s;
}
.client-profile .info-wrap {
  width: 100%;
  padding-top: 2rem;
  display: none;
}
.client-profile .info-wrap table {
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0.8rem 0.4rem;
}
.client-profile .info-wrap table tr {
  width: 100%;
}
.client-profile .info-wrap table tr th {
  width: 5rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: #434547;
  text-align: left;
  white-space: nowrap;
  vertical-align: top;
}
.client-profile .info-wrap table tr td {
  width: calc(50% - 5rem);
  font-size: 1.4rem;
  font-weight: 500;
  color: #5A626A;
  vertical-align: top;
}
.client-profile .info-wrap table tr td .memo-wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.client-profile .info-wrap table tr td .memo-wrap .memo {
  max-width: calc(100% - 40px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.client-profile .info-wrap table tr td .memo-wrap .edit-btn {
  white-space: nowrap;
  margin-left: 0.8rem;
  font-size: 1.4rem;
  color: #5A626A;
  text-decoration: underline;
}

/* 탭 메뉴 */
.tab-menu {
  position: relative;
  width: 100%;
}
.tab-menu::before {
  content: "";
  position: absolute;
  top: 4.2rem;
  left: 0;
  width: 100%;
  height: 1px;
  background: #DCE4E7;
}
.tab-menu .tab-list-wrap {
  position: relative;
}
.tab-menu .tab-list-wrap .tab-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2.4rem;
}
.tab-menu .tab-list-wrap .tab-list li {
  position: relative;
}
.tab-menu .tab-list-wrap .tab-list li.on a {
  font-size: 2.2rem;
  color: #1C1D1E;
  font-weight: 700;
  transition: all 0.25s;
}
.tab-menu .tab-list-wrap .tab-list li a {
  display: inline-block;
  width: 100%;
  padding-bottom: 0.7rem;
  font-size: 2.2rem;
  color: #7A8A93;
  font-weight: 500;
  transition: all 0.25s;
  text-align: center;
}
.tab-menu .tab-list-wrap .tab-indicator {
  position: relative;
  width: 7.5rem;
  height: 3px;
  background: #1C1D1E;
  left: 0px;
  transition: all 0.25s ease-in-out;
}
.tab-menu .tab-cont {
  padding-top: 2rem;
}
.tab-menu .tab-cont > div {
  width: 100%;
  height: 100%;
  display: none;
}
.tab-menu .tab-cont > div.on {
  display: block;
}

/* 가로(발화빈도) 막대 그래프 */
.bar-wrap {
  width: 100%;
}
.bar-wrap .legend {
  margin-bottom: 2rem;
  font-weight: 500;
  color: #69757B;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.bar-wrap .legend span {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}
.bar-wrap .legend span.counselor::before, .bar-wrap .legend span.client::before {
  content: "";
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
}
.bar-wrap .legend span.counselor {
  padding-right: 1.4rem;
}
.bar-wrap .legend span.counselor::before {
  background: #A0C9FF;
}
.bar-wrap .legend span.client::before {
  background: #7ACB93;
}
.bar-wrap .bar-labels {
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.bar-wrap .bar-labels > div:last-of-type {
  text-align: right;
}
.bar-wrap .bar-labels > div span {
  font-weight: 700;
  color: #5A626A;
  line-height: 2rem;
}
.bar-wrap .bar-labels > div .value {
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 3rem;
}
.bar-wrap .bar-container {
  display: flex;
  height: 2.6rem;
  border-radius: 8px;
  overflow: hidden;
}
.bar-wrap .bar-container .bar-counselor {
  background: #A0C9FF;
  height: 100%;
  margin-right: 5px;
}
.bar-wrap .bar-container .bar-client {
  background: #7ACB93;
  height: 100%;
}

/* 대시보드 */
.dashboard .box, .dashboard .txt-box {
  position: relative;
  width: calc(50% - 0.6rem);
  border-radius: 2rem;
  border: 1px solid #EFF2F3;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px 0px rgba(195, 195, 195, 0.25);
}
.dashboard .box.before-create, .dashboard .txt-box.before-create {
  background: url(@/assets/images/common/create_board_bg.svg) no-repeat center/cover, linear-gradient(0deg, rgba(255, 225, 255, 0.4) 0%, rgba(255, 241, 255, 0) 41.05%) #FFFFFF;
}
.dashboard .box.before-create .create-wrap, .dashboard .txt-box.before-create .create-wrap {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}
.dashboard .box.before-create .create-wrap p, .dashboard .txt-box.before-create .create-wrap p {
  text-align: center;
  font-weight: 500;
  color: #7A8A93;
}
.dashboard .box-tit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.dashboard .box-tit strong {
  font-size: 2rem;
  font-weight: 700;
  color: #3B3C3E;
}
.dashboard .box-tit .edit-btn {
  font-size: 1.6rem;
  font-weight: 500;
  color: #7A8A93;
}
.dashboard .box {
  padding: 3rem;
}
.dashboard .box.keyword, .dashboard .box.frequency {
  min-height: 24.2rem;
}
.dashboard .box.keyword > .con-wrap, .dashboard .box.frequency > .con-wrap {
  width: 100%;
  height: 100%;
  margin-top: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dashboard .box.keyword.before-create .create-wrap, .dashboard .box.frequency.before-create .create-wrap {
  height: 14rem;
}
.dashboard .box.stress {
  min-height: 25.6rem;
}
.dashboard .box.stress > .con-wrap {
  margin-top: 1.6rem;
}
.dashboard .box.stress.before-create .create-wrap {
  height: 15rem;
}
.dashboard .txt-box {
  min-height: 21.3rem;
  padding: 3rem 3rem 1.6rem;
}
.dashboard .txt-box .box-explain {
  margin: 1.2rem 0;
  min-height: 8.7rem;
  max-height: 8.7rem;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
.dashboard .txt-box .box-explain.clamped {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
}
.dashboard .txt-box .box-explain.empty {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.dashboard .txt-box .box-explain.empty p {
  font-weight: 500;
  color: #A7B5BC;
}
.dashboard .txt-box .box-explain .save-txt {
  position: relative;
  font-weight: 500;
  line-height: 1.8;
  color: #5A626A;
}
.dashboard .txt-box > button {
  width: 100%;
  height: 1.4rem;
  background: url(@/assets/images/icon/arrow_down_box.svg) no-repeat center/contain;
  transition: transform 0.3s;
}
.dashboard .txt-box > button.rotate {
  transform: rotate(180deg);
}
.dashboard > .con-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1.6rem;
}

/* 대시보드 empty */
.empty-board {
  width: 100%;
  padding: 3.6rem 3rem;
  border-radius: 2rem;
  border: 1px solid #EFF2F3;
  background: #fff;
  box-shadow: 0px 1px 6px 0px rgba(195, 195, 195, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.empty-board p.empty-tit {
  padding: 2rem 0 0.6rem;
  font-weight: 700;
  color: #5A626A;
}
.empty-board p.empty-info {
  font-weight: 500;
  color: #7A8A93;
}

/* 대시보드 생성중 */
.create-board {
  position: relative;
  width: 100%;
  height: 27rem;
  border-radius: 2rem;
  border: 1px solid #EFF2F3;
  box-shadow: 0px 1px 6px 0px rgba(195, 195, 195, 0.2);
  background: url(@/assets/images/common/create_board_bg.svg) no-repeat center/cover, linear-gradient(0deg, rgba(255, 225, 255, 0.4) 0%, rgba(255, 241, 255, 0) 41.05%) #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.create-board::before {
  content: "";
  position: absolute;
  right: 11.4rem;
  bottom: 4rem;
  width: 13.7rem;
  height: 12.6rem;
  background: url(@/assets/images/common/character.svg) no-repeat center/contain;
}
.create-board strong {
  font-size: 2rem;
  font-weight: 700;
  color: #3B3C3E;
}
.create-board ul {
  padding: 2.6rem 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3.6rem;
}
.create-board ul li {
  font-weight: 700;
  color: #5A626A;
}

/* 불릿 */
.bullet-line {
  position: relative;
  padding-left: 1.2rem;
  font-weight: 500;
  color: #434547;
  line-height: 1.8;
}
.bullet-line::before {
  content: "•";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.6rem;
  font-weight: 500;
  color: #434547;
}

/* 상담관리 */
main.consults .tab-panel.counsel .select-wrap {
  margin-bottom: 4rem;
}
main.consults .tab-panel.counsel .tit-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
main.consults .tab-panel.counsel .tit-wrap strong {
  font-size: 3rem;
  font-weight: 700;
}
main.consults .tab-panel.counsel .tit-wrap .btn-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.8rem;
}
main.consults .tab-panel.counsel .transcript {
  margin-bottom: 18rem;
}
main.consults .tab-panel.counsel .transcript .dashboard {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.2rem;
  flex-wrap: wrap;
}
main.consults .tab-panel.counsel .transcript .dashboard .stress {
  width: 100%;
  padding: 3rem 3rem 0;
}
main.consults .tab-panel.counsel .counsel-log .dashboard {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.2rem;
  flex-wrap: wrap;
}
main.consults .tab-panel.counsel .counsel-log .dashboard .urgency {
  width: 100%;
  padding: 3rem;
  border-radius: 2rem;
  box-shadow: 0px 1px 6px 0px rgba(195, 195, 195, 0.2);
}
main.consults .tab-panel.counsel .counsel-log .dashboard .urgency .con-wrap {
  width: 100%;
  height: 13.8rem;
  margin-top: 3.2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.6rem;
}
main.consults .tab-panel.counsel .counsel-log .dashboard .urgency .con-wrap > div {
  height: 100%;
  padding: 1.6rem;
  border-radius: 1.6rem;
  background: #FFFFFF;
}
main.consults .tab-panel.counsel .counsel-log .dashboard .urgency .con-wrap > div.risk-scale {
  width: 34.2rem;
  padding: 2.4rem;
}
main.consults .tab-panel.counsel .counsel-log .dashboard .urgency .con-wrap > div.risk-scale ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
main.consults .tab-panel.counsel .counsel-log .dashboard .urgency .con-wrap > div.risk-scale ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.9rem;
}
main.consults .tab-panel.counsel .counsel-log .dashboard .urgency .con-wrap > div.risk-scale ul li > span {
  font-size: 1.4rem;
  font-weight: 700;
  color: #5A626A;
}
main.consults .tab-panel.counsel .counsel-log .dashboard .urgency .con-wrap > div.risk-scale ul li div {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main.consults .tab-panel.counsel .counsel-log .dashboard .urgency .con-wrap > div.risk-scale ul li div span {
  font-size: 2.4rem;
  font-weight: 500;
  color: #4C5052;
}
main.consults .tab-panel.counsel .counsel-log .dashboard .urgency .con-wrap > div:not(.risk-scale) > span {
  font-weight: 700;
  color: #3B3C3E;
}
main.consults .tab-panel.counsel .counsel-log .dashboard .urgency .con-wrap > div:not(.risk-scale) > p {
  font-weight: 500;
  color: #5A626A;
}
main.consults .tab-panel.counsel .counsel-log .dashboard .urgency .con-wrap > div.current-risk, main.consults .tab-panel.counsel .counsel-log .dashboard .urgency .con-wrap > div.past-risk {
  width: 16.9rem;
}
main.consults .tab-panel.counsel .counsel-log .dashboard .urgency .con-wrap > div.risk-factor {
  width: 34.2rem;
}
main.consults .tab-panel.counsel .counsel-log .dashboard .urgency.safe {
  background: #DDE9FC;
}
main.consults .tab-panel.counsel .counsel-log .dashboard .urgency.safe .con-wrap > div.risk-scale ul li div {
  background: #F0F5FE;
}
main.consults .tab-panel.counsel .counsel-log .dashboard .urgency.safe .con-wrap > div.risk-scale ul li:nth-of-type(1) div {
  background: url(/assets/images/common/safe_face.svg) no-repeat center;
}
main.consults .tab-panel.counsel .counsel-log .dashboard .urgency.safe .con-wrap > div.risk-scale ul li:nth-of-type(1) div span {
  display: none;
}
main.consults .tab-panel.counsel .counsel-log .dashboard .urgency.caution {
  background: #FDF9C4;
}
main.consults .tab-panel.counsel .counsel-log .dashboard .urgency.caution .con-wrap > div.risk-scale ul li div {
  background: #FEFCE8;
}
main.consults .tab-panel.counsel .counsel-log .dashboard .urgency.caution .con-wrap > div.risk-scale ul li:nth-of-type(2) div {
  background: url(/assets/images/common/caution_face.svg) no-repeat center;
}
main.consults .tab-panel.counsel .counsel-log .dashboard .urgency.caution .con-wrap > div.risk-scale ul li:nth-of-type(2) div span {
  display: none;
}
main.consults .tab-panel.counsel .counsel-log .dashboard .urgency.danger {
  background: #FFEDD4;
}
main.consults .tab-panel.counsel .counsel-log .dashboard .urgency.danger .con-wrap > div.risk-scale ul li div {
  background: #FFF7ED;
}
main.consults .tab-panel.counsel .counsel-log .dashboard .urgency.danger .con-wrap > div.risk-scale ul li:nth-of-type(3) div {
  background: url(/assets/images/common/danger_face.svg) no-repeat center;
}
main.consults .tab-panel.counsel .counsel-log .dashboard .urgency.danger .con-wrap > div.risk-scale ul li:nth-of-type(3) div span {
  display: none;
}
main.consults .tab-panel.counsel .counsel-log .dashboard .urgency.critical {
  background: #FFE5E5;
}
main.consults .tab-panel.counsel .counsel-log .dashboard .urgency.critical .con-wrap > div.risk-scale ul li div {
  background: rgba(255, 229, 229, 0.5);
}
main.consults .tab-panel.counsel .counsel-log .dashboard .urgency.critical .con-wrap > div.risk-scale ul li:nth-of-type(4) div {
  background: url(/assets/images/common/critical_face.svg) no-repeat center;
}
main.consults .tab-panel.counsel .counsel-log .dashboard .urgency.critical .con-wrap > div.risk-scale ul li:nth-of-type(4) div span {
  display: none;
}
main.consults .tab-panel.counsel .counsel-log .dashboard .severity {
  width: 100%;
  padding: 3rem;
  border-radius: 2rem;
  border: 1px solid #EFF2F3;
  background: #FFFFFF;
  box-shadow: 0px 1px 6px 0px rgba(195, 195, 195, 0.2);
}
main.consults .tab-panel.counsel .counsel-log .dashboard .severity .con-wrap {
  margin-top: 3.2rem;
}
main.consults .tab-panel.counsel .counsel-log .sub-tit {
  padding-top: 6rem;
  margin-bottom: 2rem;
}
main.consults .tab-panel.counsel .counsel-log .sub-tit strong {
  font-size: 2.4rem;
  font-weight: 700;
}

/* 상담일지 */
.session-info-bar {
  width: 100%;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #DCE4E7;
}
.session-info-bar .info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2.8rem;
}
.session-info-bar .info strong {
  position: relative;
  font-size: 2.2rem;
  font-weight: 700;
}
.session-info-bar .info strong::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -1.4rem;
  transform: translateY(-50%);
  width: 1px;
  height: 1.4rem;
  background: #91A4AE;
}
.session-info-bar .info p span {
  font-weight: 500;
  color: #7A8A93;
}
.session-info-bar .panel-btn {
  position: relative;
  display: inline-block;
  height: 4.2rem;
  font-weight: 500;
  color: #7A8A93;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
.session-info-bar .panel-btn::after {
  content: "";
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  background: url(@/assets/images/icon/panel_open.svg) no-repeat center;
}

.form-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2.4rem;
}
.form-section .step-nav {
  position: sticky;
  top: 11rem;
  width: 25.2rem;
  border-radius: 1.6rem;
  border: 1px solid #F3F3F3;
  background: #fff;
  box-shadow: 0px 1px 6px 0px rgba(195, 195, 195, 0.2);
}
.form-section .step-nav .inner {
  width: 100%;
  padding: 1.8rem 1.6rem;
}
.form-section .step-nav .inner > strong {
  font-weight: 700;
  color: #1E2125;
}
.form-section .step-nav .inner > ul {
  width: 100%;
  padding-top: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.4rem;
}
.form-section .step-nav .inner > ul li.on > a::before {
  background-color: #32D074;
}
.form-section .step-nav .inner > ul > li {
  width: 100%;
}
.form-section .step-nav .inner > ul > li > a {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 4rem;
  padding: 0 0.8rem;
  font-weight: 500;
  color: #7A8A93;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;
  transition: background 0.25s;
}
.form-section .step-nav .inner > ul > li > a:hover {
  background: #EFF2F3;
}
.form-section .step-nav .inner > ul > li > a::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: url(@/assets/images/icon/check.svg) no-repeat center/12px #CBD5DA;
}
.form-section .step-nav .inner > ul > li ul {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  padding-left: 2.55rem;
}
.form-section .step-nav .inner > ul > li ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 1.5rem;
  width: 1px;
  height: 100%;
  background: #CBD5DA;
}
.form-section .step-nav .inner > ul > li ul li a {
  height: 3.6rem;
  font-weight: 500;
  color: #7A8A93;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;
  cursor: default;
}
.form-section .step-nav .inner > ul > li ul li a::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: url(@/assets/images/icon/check.svg) no-repeat center/12px #CBD5DA;
}
.form-section .form-content {
  width: calc(100% - 27.6rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8rem;
}
.form-section .form-content > div {
  position: relative;
  width: 100%;
  scroll-margin-top: 11rem;
}
.form-section .form-content > div .step-title {
  width: 100%;
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.form-section .form-content > div .step-title strong {
  position: relative;
  font-size: 2.4rem;
  font-weight: 700;
}
.form-section .form-content > div .step-title strong.necessary::after {
  content: "*";
  position: absolute;
  color: #FF3D00;
}
.form-section .form-content > div .step-title.type01 {
  justify-content: flex-start;
}
.form-section .form-content > div .step-title.type01 .info {
  position: relative;
}
.form-section .form-content > div .step-title.type01 .info .info-icon {
  width: 3rem;
  height: 3rem;
  background: url(@/assets/images/icon/info.svg) no-repeat center;
}
.form-section .form-content > div .step-title.type01 .info .tooltip {
  position: absolute;
  top: 50%;
  left: 4.2rem;
  transform: translateY(-50%);
  padding: 1.2rem 1.6rem;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 1.4rem;
  white-space: nowrap;
  background: #5A626A;
  display: none;
  z-index: 10;
}
.form-section .form-content > div .step-title.type01 .info .tooltip::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -14px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 14px solid #5A626A;
}
.form-section .form-content > div .step-title.sub strong {
  font-size: 1.8rem;
  font-weight: 500;
}
.form-section .form-content > div .step-conts .write-wrap {
  width: 100%;
  border-radius: 1.4rem;
  background: #FFFFFF;
}
.form-section .form-content > div .step-conts .write-wrap .write-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.form-section .form-content > div .step-conts .write-wrap .write-title p {
  font-weight: 700;
}
.form-section .form-content > div .step-conts .write-wrap .write-title .panel-btn {
  font-size: 1.4rem;
  font-weight: 500;
  color: #7A8A93;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
.form-section .form-content > div .step-conts .write-wrap .write-title .panel-btn::after {
  content: "";
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  background: url(@/assets/images/icon/arrow_right.svg) no-repeat center/contain;
}
.form-section .form-content > div.content01 .step-conts .write-wrap {
  padding: 2.4rem 1.6rem 2rem;
}
.form-section .form-content > div.content01 .step-conts .write-wrap:not(:last-of-type) {
  margin-bottom: 1.2rem;
}
.form-section .form-content > div.content01 .step-conts .write-wrap:not(:last-of-type) .write-area ul {
  gap: 0.6rem 0;
}
.form-section .form-content > div.content01 .step-conts .write-wrap:not(:last-of-type) .write-area ul li {
  height: 3.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.form-section .form-content > div.content01 .step-conts .write-wrap .write-title {
  margin-bottom: 1.8rem;
}
.form-section .form-content > div.content01 .step-conts .write-wrap .write-area ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.form-section .form-content > div.content01 .step-conts .write-wrap .write-area ul li {
  width: 25%;
}
.form-section .form-content > div.content01 .step-conts .write-wrap.check .write-area ul li:last-of-type {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.form-section .form-content > div.content01 .step-conts .write-wrap.check .write-area ul li:last-of-type .input-wrap:first-of-type {
  width: 5.9rem;
}
.form-section .form-content > div.content01 .step-conts .write-wrap.check .write-area ul li:last-of-type .input-wrap:last-of-type {
  width: calc(100% - 6.9rem);
}
.form-section .form-content > div.content01 .step-conts .write-wrap.check .write-area ul li:last-of-type .input-wrap:last-of-type input {
  width: 100%;
}
.form-section .form-content > div.content01 .step-conts .write-wrap.risk-scale .write-title {
  margin-bottom: 0.4rem;
}
.form-section .form-content > div.content01 .step-conts .write-wrap.risk-scale .write-title + p {
  margin-bottom: 1.8rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #7A8A93;
}
.form-section .form-content > div.content01 .step-conts .write-wrap.risk-scale .write-area ul {
  gap: 1rem;
}
.form-section .form-content > div.content01 .step-conts .write-wrap.risk-scale .write-area ul li {
  position: relative;
  width: calc(25% - 0.75rem);
  height: 16.6rem;
  border-radius: 0.8rem;
  border: 1px solid #DCE4E7;
  overflow: hidden;
  transition: all 0.25s;
}
.form-section .form-content > div.content01 .step-conts .write-wrap.risk-scale .write-area ul li:has(input[type=radio]:checked) {
  border: 1px solid #32D074;
}
.form-section .form-content > div.content01 .step-conts .write-wrap.risk-scale .write-area ul li:has(input[type=radio]:checked) .bottom {
  border-top: 1px solid #32D074;
  background: rgba(50, 208, 103, 0.1);
}
.form-section .form-content > div.content01 .step-conts .write-wrap.risk-scale .write-area ul li .top {
  height: 11.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.form-section .form-content > div.content01 .step-conts .write-wrap.risk-scale .write-area ul li .input-wrap {
  position: absolute;
  top: 1.2rem;
  left: 1.2rem;
}
.form-section .form-content > div.content01 .step-conts .write-wrap.risk-scale .write-area ul li .input-wrap label {
  padding-left: 2rem;
}
.form-section .form-content > div.content01 .step-conts .write-wrap.risk-scale .write-area ul li .face-icon {
  display: inline-block;
  width: 5.4rem;
  height: 5.4rem;
  border-radius: 50%;
}
.form-section .form-content > div.content01 .step-conts .write-wrap.risk-scale .write-area ul li .face-icon.safe {
  background: url(@/assets/images/common/safe_face.svg) no-repeat center/contain;
}
.form-section .form-content > div.content01 .step-conts .write-wrap.risk-scale .write-area ul li .face-icon.caution {
  background: url(@/assets/images/common/caution_face.svg) no-repeat center/contain;
}
.form-section .form-content > div.content01 .step-conts .write-wrap.risk-scale .write-area ul li .face-icon.danger {
  background: url(@/assets/images/common/danger_face.svg) no-repeat center/contain;
}
.form-section .form-content > div.content01 .step-conts .write-wrap.risk-scale .write-area ul li .face-icon.critical {
  background: url(@/assets/images/common/critical_face.svg) no-repeat center/contain;
}
.form-section .form-content > div.content01 .step-conts .write-wrap.risk-scale .write-area ul li .bottom {
  height: calc(100% - 11.8rem);
  border-top: 1px solid #DCE4E7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.25s;
}
.form-section .form-content > div.content01 .step-conts .write-wrap.risk-scale .write-area ul li .bottom span {
  font-weight: 500;
}
.form-section .form-content > div.content02 .step-conts .write-wrap {
  padding: 2.4rem 1.6rem;
}
.form-section .form-content > div.content02 .step-conts .write-wrap .write-title {
  margin-bottom: 2.2rem;
}
.form-section .form-content > div.content02 .step-conts .tb-wrap {
  padding: 0 1.2rem;
  margin-bottom: 3.1rem;
}
.form-section .form-content > div.content02 .step-conts .tb-wrap table {
  width: 100%;
  table-layout: fixed;
}
.form-section .form-content > div.content02 .step-conts .tb-wrap table thead {
  background: #EFF2F3;
}
.form-section .form-content > div.content02 .step-conts .tb-wrap table thead tr th {
  padding: 1.2rem;
}
.form-section .form-content > div.content02 .step-conts .tb-wrap table thead tr th:first-of-type {
  width: 14.6rem;
  padding: 1.2rem 0 1.2rem 2rem;
  border-radius: 0.6rem 0 0 0.6rem;
  text-align: left;
  font-weight: 500;
  color: #7A8A93;
}
.form-section .form-content > div.content02 .step-conts .tb-wrap table thead tr th:not(:first-of-type) {
  width: calc((100% - 14.6rem) / 6);
  text-align: center;
  font-weight: 700;
  color: #69757B;
}
.form-section .form-content > div.content02 .step-conts .tb-wrap table thead tr th:last-of-type {
  padding: 1.2rem 2rem 1.2rem 0;
  border-radius: 0 0.6rem 0.6rem 0;
}
.form-section .form-content > div.content02 .step-conts .tb-wrap table tbody tr {
  border-bottom: 1px solid #EFF2F3;
}
.form-section .form-content > div.content02 .step-conts .tb-wrap table tbody tr th {
  box-sizing: content-box;
  padding: 0.9rem 0;
  height: 4.2rem;
  padding-left: 2rem;
  text-align: left;
  font-weight: 700;
  color: #434547;
}
.form-section .form-content > div.content02 .step-conts .tb-wrap table tbody tr th.new-th {
  padding-left: 0.7rem;
}
.form-section .form-content > div.content02 .step-conts .tb-wrap table tbody tr th.new-th .symptom-input-wrap {
  position: relative;
  width: 100%;
}
.form-section .form-content > div.content02 .step-conts .tb-wrap table tbody tr th.new-th .symptom-input-wrap .symptom-input {
  width: 100%;
  height: 3.8rem;
  padding: 0 1.2rem;
  font-family: "Pretendard";
  font-size: 1.6rem;
  border-radius: 0.8rem;
  border: 1px solid #7A8A93;
}
.form-section .form-content > div.content02 .step-conts .tb-wrap table tbody tr th.new-th .symptom-input-wrap .symptom-input::placeholder {
  color: #7A8A93;
}
.form-section .form-content > div.content02 .step-conts .tb-wrap table tbody tr th.new-th .symptom-input-wrap .symptom-input.error {
  border-color: #FF0606;
}
.form-section .form-content > div.content02 .step-conts .tb-wrap table tbody tr th.new-th .symptom-input-wrap .error-txt {
  font-family: "Pretendard";
  font-size: 1.4rem;
  font-weight: 500;
  color: #FF0606;
  display: none;
  margin-top: 0.6rem;
  margin-left: 0.4rem;
}
.form-section .form-content > div.content02 .step-conts .tb-wrap table tbody tr th.new-th .input-completed {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.form-section .form-content > div.content02 .step-conts .tb-wrap table tbody tr th.new-th .input-completed .remove-symptom {
  width: 3rem;
  height: 3rem;
  border-radius: 6px;
  border: 1px solid #DCE4E7;
  background: url(@/assets/images/icon/minus.svg) no-repeat center/2.4rem #FFFFFF;
  cursor: pointer;
}
.form-section .form-content > div.content02 .step-conts .tb-wrap table tbody tr th.new-th .input-completed span {
  font-size: 1.6rem;
  font-weight: 700;
  color: #434547;
}
.form-section .form-content > div.content02 .step-conts .tb-wrap table tbody tr td .input-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.form-section .form-content > div.content02 .step-conts .tb-wrap table tbody tr td .input-wrap label {
  padding-left: 2rem;
}
.form-section .form-content > div.content02 .step-conts .signs-add-btn {
  width: 100%;
  height: 5.2rem;
  border-radius: 0.6rem;
  background: rgba(239, 242, 243, 0.5);
}
.form-section .form-content > div.content02 .step-conts .signs-add-btn span {
  padding-left: 2.8rem;
  position: relative;
  font-weight: 700;
  color: #7A8A93;
  background: url(@/assets/images/icon/plus.svg) no-repeat center left/24px;
}
.form-section .form-content > div.content04 .step-conts .write-wrap:nth-of-type(2) {
  margin-bottom: 2.4rem;
}
.form-section .form-content > div.content09 .tips {
  width: 100%;
  padding: 0 1.2rem;
  margin-bottom: 2.8rem;
  height: 4rem;
  border-radius: 0.8rem;
  background: rgba(217, 226, 230, 0.3);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.form-section .form-content > div.content09 .tips p {
  font-size: 1.4rem;
  font-weight: 500;
  color: #5A626A;
}
.form-section .form-content > div:not(.content01, .content02) .step-conts .write-wrap {
  padding: 1.6rem 1.6rem 0.8rem;
}